<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content div-form_form-calendar">
    {{ include('calendar/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('calendar/_delete_form.html.twig') }} 
     </div>
  </div>
</div>

