<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}New Calendar{% endblock %}</title>
    {% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
</head>
<body>
    {% block body %}
    <h1>Create new Calendar</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}">back to list</a>
    <a href="{{ path('app_agenda') }}">back to calendar</a>
{% endblock %}
</body>
</html>




