{% block content %}
<header class="header_menu-parent">
        <div class="header-div_menu-parent row">
            <div class="col-3">
                <img src="{{ asset('build/images/image-card-creche.jpg') }}" class="img-profil_menu-parent">
            </div>
            <div class="col-9">
            <h5 class="mb-1 name_menu-parent">{{family.firstName}} {{family.lastName}}</h5>
            <p class="dossier_menu-parent">Dossier complété à 80%</p>
            </div>
        </div>
</header>
{% endblock %}
