<footer class= "footer_menu-parent">
    <navbar class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="lien_nav-parent" href="#"><i class="fa-solid btn-parent fa-border-all"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid btn-parent fa-magnifying-glass"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid btn-parent fa-user"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid btn-parent fa-bell"></i></a>

    </navbar>
</footer>