<footer class= "footer_menu-parent">
    <navbar class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="lien_nav-parent" href="#"><i class="fa-solid fa-border-all"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid fa-user"></i></a>
        <a class="lien_nav-parent" href="#"><i class="fa-solid fa-bell"></i></svg></a>
    </navbar>
</footer>