{% extends "dashboard-creche.html.twig" %}

{% block title %}Informations personnelles{% endblock %}

{% block content %}
    <h4 class="title_demandes mb-5">Informations personnelles</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button_informations-personnelles-creche" type="submit">Sauvegarder mes informations</button>
    {{ form_end(form) }}
{% endblock %}
