{% extends "dashboard-creche.html.twig" %}

{% block title %}Edit info Creche{% endblock %}

{% block content %}
    <h4>Edit Creche</h4>
    <a href="javascript: history.go(-1)">Retour</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="form-control" type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}