.section_choice {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.div-left_choice {
    background: linear-gradient(135deg, rgba(126, 114, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.div-right_choice {
    background: linear-gradient(135deg, rgba(71, 79, 255, 1) 0%, rgba(227, 122, 204, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.illustration_choice {
    width: 80%;
}

.inscription_choice {
    font-size: 1.25rem;
    position: absolute;
    top: 70px;
    right: 70px;
}

.inscription_choice a {
    color: $btn-color;
    font-size: 1.25rem;
    font-weight: 900;
    text-decoration: none;
}

.inscription_choice a:hover {
    font-size: 1.25rem;
    color: $btn-color-hover;
    font-weight: 900;
    text-decoration: none;
}

.title-creche_choice {
    font-family: 'Adamina';
    color: #562894;
}

.button-creche_choice {
    background-color: #562894;
    color: white;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
}

.button-creche_choice:hover {
    background-color: #00c6a6;
    color: white;
    font-weight: 600;
}

.title-parent_choice {
    font-family: 'Adamina';
    color: #212353;
}

.button-parent_choice {
    background-color: #212353;
    color: white;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
}

.button-parent_choice:hover {
    background-color: #00c6a6;
    color: white;
    font-weight: 600;
}