/* Styles pour la pastille */
.pastille {
    height: 100%; /* Prend la hauteur de la card */
    width: 20px;
    border-radius: 5px 5px 5px 5px; /* Coins arrondis à gauche */
}

/* Styles pour la pastille en état "refusé" */
.pastille.refuse {
    background-color: $button-color-danger;
}

/* Styles pour la pastille en état "accepté" */
.pastille.accept {
    background-color: $button-color-success;
}

/* Styles pour la pastille en état "en attente" */
.pastille.attente {
    background-color: $button-color-alert;
}

/* Styles pour la pastille en état "annulé" */
.pastille.annule {
    background-color: black;
}
