@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

/* Fonts */
$headings-font-family: 'Montserrat';
$font-family-sans-serif: 'Red Hat Text';
$tertiary-font: 'Adamina';
$btn-font-family: $headings-font-family;
/* Textes et titres */
$h1-font-size: 4.5rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3rem;
$h4-font-size: 2.25rem;
$h5-font-size: 1.5rem;
$btn-font-size: 1.25rem;
$p-size-desktop: 1rem;
$link-navbar: '';
$link-menu: '';
/* Couleurs */
$bg-light-color: #F6FAFD;
$bg-dark-color: #212353;
$h-color: #212353;
$p-color: #343A40;
$btn-color: #9c69e2;
$btn-color-hover: #f063a7;
$button-color-success: #2DCD7A;
$button-color-alert: #FFA84C;
$button-color-danger: #EA5455;
$gradient-color-main: linear-gradient(#474fff, #E37ACC);
$gradient-color-green: linear-gradient(#8DDAD5, #00CDAC);
$gradient-color-blue: linear-gradient(#4FACFE, #00F2FE);
$gradient-color-orange: linear-gradient(#FFAFBD, #FFC3A0);
/* Formes */
$arrondi: 0.3rem;
