<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}Choix du type de compte{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar_dashboard-creche bg-body-tertiary">
  <!-- Searchbar -->
  <!--<div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
  </div>-->
  <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>My Profil</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
</nav>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
		<span class="fs-4">BabyPlace</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
		<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white" aria-current="page">
				Tableau de bord
			</a>
		</li>
		<h3 class="nav-title_dashboard-creche">RESERVATION</h3>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
				Liste des demandes
			</a>
		</li>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
				Agenda
			</a>
		</li>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
				Ajouter une place
			</a>
		</li>
		<h3 class="nav-title_dashboard-creche">APPS</h3>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
				Email
			</a>
		</li>
		<h3 class="nav-title_dashboard-creche">ADMINISTRATION</h3>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
				Authentification
			</a>
		</li>
		<li>
			<a href="#" class="nav-link nav-link_dashboard-creche text-white">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
				Paramètre de réservation
			</a>
		</li>
	</ul>
</div>
<footer class="footer_dashboard-creche">
	<p>2023 Babyplace</p>
	<p>Crée avec <3 Wild Code School x BabyPlace</p>
</footer>
        {% endblock %}
    </body>
</html>
