.list-activites_creche,
.list-infos_creche {
    list-style: none;
    padding-left: 10%;

    li {
        margin-bottom: 0.5rem;
    }
}

.search-creche {
    background: linear-gradient(#212353, #E37ACC);
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.title_card-creche {
    font-size: $h5-font-size;
    color: $h-color;
    font-weight: 600;
}

.section_card-creche {
    min-height: 85vh;
    width: 100%;
}

.results-creche {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: $gradient-color-main;
}

.div_search-creche {
    padding: 0 5% 0 5%;
    margin-bottom: 15vh;
}

.card-creche-infos {
    background-color: $bg-light-color;
    justify-content: center;
}

/*.card_creche-intro {
    padding: 1rem;
}*/

.creche-contact {
    background: linear-gradient(rgba(71, 79, 255, 0.3), rgba(227, 122, 204, 0.3));
}

.legend_creche {
    color: $bg-light-color;
    padding: 0 0.5rem 0 0.5rem;
}

.div-button_creche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_creche {
    background-color: $btn-color;
    color: white;
    font-family: $headings-font-family;
    font-weight: 600;
    text-decoration: none;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.35rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    border: 0;

    &:hover {
        background-color: $btn-color-hover;
        color: white;
        font-weight: 600;
    }
}

.button-modal_creche {
    background-color: $btn-color;
    color: white;
    font-family: $headings-font-family;
    font-weight: 600;
    text-decoration: none;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.35rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 0;

    &:hover {
        background-color: $btn-color-hover;
        color: white;
        font-weight: 600;
    }
}

/* Header creche */

.header_creche {
    background-color: transparent;
    position: static;
    top: 0;
    height: auto;
    width: 100%;
}

.top-navbar_creche {
    background-color: transparent;
    padding: 1vh 5% 1vh 5%;
}

.div-searchbar_creche {
    background-color: transparent;
    width: 100%;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding: 2vh 5% 2vh 5%;
}

.title_creche {
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.infos-header_creche {
    font-family: $font-family-sans-serif;
    color: white;
    font-weight: 600;
    background-color: transparent;
    height: auto;
    width: 100%;
}