.div-btn-parents_dossiers-inscriptions {
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn-parents_dossiers-enfants {
    background: $gradient-color-blue;
    color: white;
    font-family: $font-family-sans-serif;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }
}

.btn-enfants_dossiers-enfants {
    background: $gradient-color-green;
    color: white;
    font-family: $font-family-sans-serif;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.button_dossiers-inscriptions {
    background-color: $btn-color;
    color: white;
    font-family: $headings-font-family;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 0px;
    border-radius: 0.35rem;
    width: 100%;

    &:hover {
        background-color: $btn-color-hover;
        color: white;
        font-weight: 600;
    }
}

.icon_dossiers-inscriptions {
    margin-right: 2vw;
}

.section_dossiers-inscriptions {
    margin-top: 20vh;
    min-height: 83vh;
}

.crud-enfant_dossiers-inscriptions {
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5% 1vh 5%;
    border-radius: 0.35rem;
    width: 100%;
}

.name-crud-enfant_dossiers-inscriptions {
    font-family: $font-family-sans-serif;
    font-size: $btn-font-size;
    font-weight: 800;
    margin-bottom: 0px;
}

.subtitle_dossiers-enfants {
    font-family: $font-family-sans-serif;
    font-weight: 600;
}

.label_dossiers-enfants {
    background-color: $btn-color-hover;
    color: white;
    text-align: center;
    border-radius: 0.75rem;
    padding: 0.5rem 1vw 0.5rem 1vw;
    width: 30%;
}

.form-text_dossiers-enfants {
    background-color: white;
    color: $h-color;
    border-radius: 0.5rem;
    border: 0;
    padding: 3% 4% 3% 4%;
    width: 100%;
    z-index: 99;
}

.div-file_dossiers-enfants {
    position: relative;
    display: flex;
    flex-direction: row;
}

.icon-check_dossiers-enfants {
    z-index: 999;
}

input#file-upload-button {
    opacity: 1;
}

/* Input file - Thibault Mahé */

.choose-a-file_dossiers-enfants {
    background-color: white;
    font-family: $font-family-sans-serif;
    color: $h-color;
    padding: 3% 4% 3% 4%;
    border-radius: 0.5rem;
    margin: auto;
    display: block;
    text-align: center;

    &:hover,
    &:focus {
        color: lighten($h-color, 20%);
    }
}

/* input file style */

.input-file_dossiers-enfants {
    background-color: white;
    border-radius: 0.5rem;
    border: 0;
    padding: 3% 4% 3% 4%;
    font-weight: 600;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 99;

    +.js-labelFile {
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;

        .icon:before {
            //font-awesome
            content: "\f093";
        }

        &.has-file {
            .icon:before {
                //font-awesome
                content: "\f00c";
                color: #5AAC7B;
            }
        }
    }
}