.avatar_profil-parent {
    max-height: 30vh;
    width: auto;
    border-radius: 50%;
}

.nom_profil-parent {
    color: white;
    font-size: $h5-font-size;
    font-family: $font-family-sans-serif;
    font: 800;
}