.section_register-phone {
    background-color: $bg-light-color;
    min-height: 100vh;
    height: auto;
    width:100%;
    display: flex;
    justify-content: center;
}

.header_register-parent {
    background-color: white;
    height: 15vh;
    width:100%;
    display: flex;
}

    > .title_login {
        font-size: $h4-font-size;
        color: $btn-color;
    }

.form-control {
    margin-bottom: 3vh;
}