{% block content %}
<header class="header_menu-creche">
        <div class="header-div_menu-creche row">
            <div class="col-9">
                <a href="javascript: history.go(-1)"><i class="icon-filter_filters fa-solid fa-chevron-left"></i></a>
                <h5 class="mb-1 name_menu-creche">Nom de la crèche</h5>
                <p class="dossier_menu-creche">Type crèche</p>
            </div>
        </div>
</header>
{% endblock %}
